body,
html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    background: url("../images/images-plages/sable.jpg") fixed;
}

/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/
/*↓ MAIN ↓*/

h2 {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    color: #0500FF;
}

.plage-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.plage img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
}

.plage {
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage-mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.plage-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #a69712;
}

button:hover {
    opacity: 70%;
}

/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/
/*↑ MAIN ↑*/

@media screen and (max-width: 600px) {

    .plage-top,
    .plage-mid,
    .plage-bottom {
        flex-direction: column;
        padding-bottom: 0px
    }

    .plage {
        margin-bottom: 15px;
    }

}