body, html {
    margin:0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    background: url("../images/images-plages/sable.jpg") fixed;
}

/*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*//*↓ MAIN ↓*/

h2{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    color: #0500FF;
}

.plage-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.plage1 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage1{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage2 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage2{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage3 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage3{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage-mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.plage4 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage4{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage5 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage5{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage6 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage6{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.plage7 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage7{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage8 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage8{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

.plage9 img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.plage9{
    color: white;
    text-align: center;
    background-color: #0088ff;
    padding: 30px;
    border-radius: 30px;
    border: 4px #ffffff solid;
}

button{
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #a69712;
}

/*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*//*↑ MAIN ↑*/
